# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Queen/3rdParty
Queen/Debug
Queen/ipch
Queen/UnitTest1/Debug
Queen/Media
Queen/Queen/Debug
Queen/MathLib/Debug
Queen/Queen.sdf
Queen/MathLib/Debug
