# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.sdf
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.v11.suo
*.obj
*.lib
*.dll
*.ilk
*.exe

/Queen/Queen.v11.suo
